.campo{
    margin: 24px 0;
    font-family: 'Montserrat', sans-serif;
    
}

label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: block;
    font-weight: 900;
    margin-bottom: 8px;
}

input{
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.06);
    border: none;
    padding: 30px 20px;
    box-sizing: border-box;
    outline-color: #44a9a9;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

input, label{
    width: 100%;
    max-width: 800px;
    gap: 1rem;
    border-radius: 20px;
}

.boton{
    background-color: #077d6d;
    border-radius: 10px;
    font-weight: 900;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    padding: 24px 32px;
    border: none;
    color: #ffffff;
    margin: 32px 0;
    cursor: pointer;
}

.boton:hover{
    color: #83fcfc;;
}

.sel-cat{
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.06);
    border: none;
    padding: 30px 20px;
    box-sizing: border-box;
    outline-color: #44a9a9;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    width: 100%;
    max-width: 800px;
    gap: 1rem;
    border-radius: 20px;
    color:#6f6f6f;
}