.sel-cat{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.06);
    padding: 24px;
    font-family: 'Oswald', sans-serif;
    border: none;
    font-weight: bold;
    outline-color: #44a9a9;
    font-size: 16px;
}