.formulario{
        background-image: url(../assets/form.jpg);
        width: 100%;
        background-position: left;
        background-size: auto;
        background-repeat: no-repeat;
        background-color: #FCE9D9;
}

