.Principal{
    background-image: url(../assets/peliculas.jpg);
    width: 100%;
    background-position: left;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #000000;
}