.Series{
    background-image: url(../assets/principal-2.jpg);
    width: 100%;
    background-position: left;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000000;
}